PUID=1000
PGID=1000
TZ=<YOUR_TIMEZONE>
RENDER_GID=<YOUR_RENDER_GID>
PROTON_WIREGUARD_PRIVATE_KEY=<YOUR_PROTON_VPN_PRIVATE_KEY>
VPN_SERVER_COUNTRIES=Netherlands,Switzerland,Sweden,Romania,Iceland
GLUETUN_API_KEY=<YOUR_GLUETUN_API_KEY>
RADARR_API_KEY=<YOUR_RADARR_API_KEY>
SONARR_API_KEY=<YOUR_SONARR_API_KEY>
BAZARR_API_KEY=<YOUR_BAZARR_API_KEY>
SEERR_API_KEY=<YOUR_SEERR_API_KEY>
DISCORD_WEBHOOK_URL=<YOUR_DISCORD_WEBHOOK_URL>
WUD_ADMIN_PASSWORD=<A_PASSWORD_FOR_WUD>
